
<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Home</ion-title>
    </ion-navbar>
  </ion-header>



<!-- Missing: Display error if search result fails or doesn't give back any info-->
<ion-content>
  <form (ngSubmit)="searchCard()">
    <ion-item>
        <ion-label floating>Enter a Card Name</ion-label>
        <ion-input [(ngModel)]="searchedCard" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col style="text-align: left">
        <button ion-button center type="submit">Search</button>
      </ion-col>
    </ion-row>
  </form>

  <ion-card *ngIf="cards">
    <img class="single" *ngFor="let card of cards" src="{{card.image_uris.normal}}" (tap)="tapEvent(card)"/>
  </ion-card>


</ion-content>
