<ion-header>
  <ion-navbar>
    <ion-title *ngIf="set">{{set.name}} 
      <span class="uppercase">({{set.code}})</span>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-card *ngIf="set">
    <ion-card-content>
      <p> Release Date: {{set.released_at}}</p>
      <p> {{set.card_count}} Cards </p>
    </ion-card-content>
  </ion-card>

  <!-- To do: wrap images with div to display them 2 in a row instead of 1. Flexbox? -->
  <ion-card>
    
    <span *ngIf="cards">
      <span *ngFor="let card of cards">
          
          <span *ngIf="card.layout == 'normal'">   
              <img class="multiple" src="{{card.image_uris.normal}}" (tap)="tapEvent(card)">
          </span> 
         

          <span *ngIf="card.layout == 'transform'">
            <img class="multiple" src="{{card.card_faces[0].image_uris.normal}}" (tap)="tapEvent(card)">
            <img class="multiple" src="{{card.card_faces[1].image_uris.normal}}" (tap)="tapEvent(card)">
          </span>
        
      </span>
    </span> 
  
    <span *ngIf="code">
      <span *ngIf="code.has_more == true">
        <span *ngFor="let card of next.data">

          <span *ngIf="card.layout == 'normal'">
            <img class="multiple" src="{{card.image_uris.normal}}" (tap)="tapEvent(card)">
          </span>  

          <span *ngIf="card.layout == 'transform'">
            <img class="multiple" src="{{card.card_faces[0].image_uris.normal}}" (tap)="tapEvent(card)">
            <img class="multiple" src="{{card.card_faces[1].image_uris.normal}}" (tap)="tapEvent(card)">

          </span>
        </span>
      </span>
    </span>

  </ion-card>
</ion-content>
